# Discord Bot Configuration
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DEFAULT_RSS_CHANNEL_ID=
MEDITATION_CHANNEL_ID=
NEW_CHANNEL_ID=

# Bluesky Feed Configuration
BLUESKY_CHANNEL_ID=
BLUESKY_ACCOUNT_HANDLE=
CRON_SCHEDULE="0 * * * *"
BLUESKY_API_URL=https://bsky.social
BLUESKY_APP_PASSWORD=

# API Keys
OPENAI_API_KEY=
NEWS_API_KEY=
TOGETHER_API_KEY=

# Miscellaneous
WATER_TRACKER_API_URL=
